@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

::-webkit-scrollbar {
    width: 0;
}

html {
    width: 100vw;
    height: 100vh;
    margin: 0%;
}
body {
    width: 100vw;
    margin: 0%;
    /* ! stops the extra white from being shown */
    overflow-x: hidden;
    overflow-y: scroll;
}

hr {
    width: 80%;
    margin: 1em auto;
}

/* HEADER////////////////////////////////// */

/* Style of the entire header as a container */
header {
    display: flex;
    flex-flow: column;
    width: 100vw;
    margin: 0%;
}

.dropdown-content {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    margin: 0;
    height: 12vh;
    width: 100vw;
}

.logo > a > img {
    width: 9em;
    padding-right: 0;
    margin-right: 0;
}

.links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    height: 10px;
    text-align: center;
}

.links > a {
    text-decoration: none;
    margin: 0.5em;
    padding: 1em;
    color: white;
    text-align: center;
    font-family: "Major Mono Display", monospace;
    font-size: 0.7rem;
}

.links > a:hover {
    color: brown;
}

.bottomHeader {
    margin: auto;
    padding: 1em;
    text-align: center;
}

.bottomHeader > h3 {
    font-size: 2.5em;
    font-weight: 460;
}

.makeRed {
    color: brown;
    font-style: italic;
}

/* MAIN01////////////////////////////////// */

/* Style of the entire main01 as a container */
.main01 {
    color: rgb(128, 112, 112);
    width: 100%;
    margin: auto;
    padding-top: 6em;
    background-image: url("images/illustration-4564730_1920.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 4em;
}

#main01-intro-h1 {
    padding: 20px 41px;
    margin: 0%;
    text-align: left;
    font-size: 3rem;
    font-family: "Major Mono Display", monospace;
    text-shadow: 1px 2px 12px rgba(19, 1, 1, 0.687);
}

#main01-intro-h3 {
    padding: 0 41px;
    font-size: 1.7rem;
    text-align: left;
    font-family: "Major Mono Display", monospace;
    text-shadow: 1px 2px 12px rgba(19, 1, 1, 0.687);
}

#main01-intro-h5 {
    padding: 41px;
    padding-top: 0.1em;
    padding-bottom: 6em;
    text-align: left;
    font-family: "Major Mono Display", monospace;
    font-size: 1em;
    max-width: 400px;
    text-shadow: 1px 2px 12px rgba(19, 1, 1, 0.687);
}

/* Style the tab */
.main01-tab {
    overflow: hidden;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Style the buttons that are used to open the tab content */
.main01-tab button {
    color: white;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 1.1em;
}

/* Change background color of buttons on hover */
.main01-tab button:hover {
    color: brown;
    background-color: rgba(221, 221, 221, 0.318);
    border-radius: 3em;
}

/* Create an active/current tablink class */
.main01-tab button.active {
    background-color: rgba(204, 204, 204, 0.359);
    border-radius: 3em;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    padding-bottom: 3em;
    border: 1px solid #ccc;
    border: none;
}

.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.codingImg {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#tools-container > h4,
#lang-container > h4 {
    text-align: center;
    padding: 4em;
}

#tools-imgGrid > img,
#lang-imgGrid > img {
    background: rgba(255, 255, 255, 0.25);
    padding: 3em;
    margin: 2em 3em;
    width: 10vw;
    width: 10vw;
    box-shadow: 0 8px 32px 0 rgba(12, 149, 234, 0.37),
        inset 0 8px 32px 0 rgba(12, 149, 234, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(12, 149, 234, 0.37);
}

/* SELF////////////////////////////////// */

/* Style of the entire self as a container */
.self {
    display: flex;
    flex-flow: row;
    width: 70vw;
    color: black;
    padding: 3em;
    margin: 4em 0;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(156, 179, 163, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    align-self: center;
}

.self > div {
    margin: auto;
}

#personalInfo {
    padding: 1em;
}

#yinyangPic > img {
    width: 30vw;
}

/* MAIN02////////////////////////////////// */

/* Style of the entire main02 as a container */
.main02 {
    display: flex;
    flex-flow: column;
    align-items: center;
    color: white;
    width: 100vw;
    margin: auto;
    margin-right: 0;
    background-image: url("images/astronaut-1388582_1920.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main02 > #myWebBlock-img {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
}

/* Pictures of the sites that ive made before */
.main02 > #myWebBlock-img > a > img {
    width: 25vw;
    border-radius: 1em;
}

/* More Pages as a whole */
.morePages {
    display: flex;
    flex-flow: column;
}

/* More Pages info */
.morePages > p {
    text-align: center;
    color: black;
    font-size: 1.2em;
}

/* More pages Button */
.morePages > a {
    color: white;
    text-decoration: none;
    border-radius: 28px;
    background: #4a4a4a;
    padding: 1em;
    margin: 3em auto;
    width: 80%;
    text-align: center;
}

/* RESPONSIVE SIDE */
@media screen and (min-width: 600px) {
    .dropbtn {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    header > .dropdown {
        right: 0%;
    }

    .dropbtn {
        background-color: #18a21d;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        width: 60px;
        height: 60px;
        border-radius: 0 0 1em 0;
    }

    .dropdown {
        position: fixed;
        display: inline-block;
        width: 100px;
        z-index: 500;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #137b16;
        min-width: 160px;
        z-index: 1;
        border-radius: 0 1em;
        background: #137b16;
        box-shadow: 9px 9px 26px #031604c9, -9px -9px 26px #189c1c;
    }

    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: flex;
        padding: 1em;
        text-align: center;
    }

    .dropdown-content > .links {
        padding: 2.6em;
    }

    .dropdown:hover .dropdown-content {
        display: inline-block;
        left: 0;
        padding: 1.3em 0.3em;
        margin: auto;
        padding-top: 5em;
        width: 20%;
        height: 100vh;
        animation: fadeEffectMenu 0.5s; /* Fading effect takes 1 second */
    }

    @keyframes fadeEffectMenu {
        from {
            height: 100px;
            opacity: 0;
        }
        to {
            height: 100vh;
            opacity: 1;
        }
    }

    /* SELF//////////////////////// */

    .self {
        flex-flow: column;
    }

    #tools-imgGrid > img,
    #lang-imgGrid > img {
        width: 25vw;
    }
}
